################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InstagramComment
/InstagramComment/bin
/InstagramComment/obj
